/* ==========================
   GOOGLE FONT
========================== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1{
   font-size:28px;
   font-weight:800;
   letter-spacing:2px;
   color:#ff8c00;
}
html,body{
   width:100vw;
   height:100vh;
    overflow:hidden;
   margin:0;
   padding:0;
}
body{

    font-family:'Poppins',sans-serif;
   width:100vw;
   height:100vh;
    overflow:hidden;
    min-height:100vh;
display:flex;
   flex-direction:column;
    background:linear-gradient(-45deg,
        #001F54,
        #003B8E,
        #0059C9,
        #0A84FF);

    background-size:400% 400%;

    animation:bgMove 15s ease infinite;

    color:white;

}

/* ==========================
   Animated Background
========================== */

@keyframes gradientMove{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}

/* ==========================
Header
========================== */

header{

display:flex;
   height:80px;
width:96%;
   max-width:1600px;
   margin:0 auto;
justify-content:space-between;

align-items:center;

padding:10px 0;

background:rgba(255,255,255,.08);

backdrop-filter:blur(12px);

border-bottom:1px solid rgba(255,255,255,.2);

}

.left{

display:flex;

align-items:center;

gap:20px;

}

.logo{

width:50px;

height:65px;

border-radius:50%;

background:white;

padding:3px;

}

h1{

font-size:28px;

font-weight:700;

letter-spacing:2px;

}

h3{

font-weight:300;

opacity:.9;
   font-size:13px;

}

#clock{

font-size:20px;

font-weight:bold;

}
.date{
   font-size:18px;
}
/* ==========================
Leaderboard
========================== */

#leaderboard{

width:70%;
max-width:1200px;
margin:25px auto;
margin-top:15px;
   margin-bottom:10px;
display:flex;

flex-direction:column;

gap:12px;

}

/* ==========================
Cards
========================== */

.card{
width:100%;
display:grid;
grid-template-columns:80px 1fr 120px;;
align-items:center;

height:85px;
padding:0 30px;
border-radius:16px;
background:rgba(255,255,255,.15);

backdrop-filter:blur(12px);

box-shadow:0 8px 20px rgba(0,0,0,.25);

border-left:12px solid white;

}

.card:hover{

transform:scale(1.02);

}

/* ==========================
Rank
========================== */

.rank{

font-size:38px;

width:50px;

text-align:center;

}

/* ==========================
House Name
========================== */

.house{

font-size:22px;

font-weight:700;

padding-left:10px;

}

/* ==========================
Score
========================== */

.score{

font-size:34px;

font-weight:700;
   text-align:right;

}

/* ==========================
House Colours
========================== */

.ruby{

border-left:15px solid #ff3b3b;

}

.emerald{

border-left:15px solid #00c853;

}

.sapphire{

border-left:15px solid #2196f3;

}

.topaz{

border-left:15px solid #ffca28;

}
/* ==========================
Footer
========================== */

footer{

margin-top:15px;

text-align:center;

padding:15px;

font-size:22px;

background:rgba(255,255,255,.08);

}

/* ==========================
Responsive
========================== */

@media(max-width:900px){

header{

flex-direction:column;

gap:20px;

text-align:center;

}

.card{

padding:20px;

}

.rank{

font-size:38px;

}

.house{

font-size:22px;

}

.score{

font-size:34px;

}

h1{

font-size:28px;

}

.logo{

width:50px;

height:65px;

}

}
